
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>We're planning an exciting party</p>
        @ViewBag.Greeting, the time is @ViewBag.Time in MVC land
        @Html.ActionLink("RSVP Now", "RsvpForm")
    </div>
</body>
</html>
