<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>134.210.3.25</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/MySite/PartyTime</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ac\olanm</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PartyInvites.Models.ResponseDBContext" Order="1" Enabled="True">
          <Destination Path="Data Source=.\;Initial Catalog=MyTestDB;User ID=tester;Password=s2014cs4135" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PartyInvites.Models.ResponseDBContext, PartyInvites" MigrationConfiguration="PartyInvites.Migrations.Configuration, PartyInvites" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PartyInvites.Models.ResponseDBContext-Web.config Connection String">
      <ParameterValue>Data Source=.\;Initial Catalog=MyTestDB;User ID=tester;Password=s2014cs4135</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="PartyInvites.Models.ResponseDBContext" />
  </ItemGroup>
</Project>